{% extends "layout.html" %}

{% block title %}
    Subtract License
{% endblock %}

{% block main %}
    <h6>First Select a Computer to Remove License</h6>
    <form action="/selectComputer" method="post">
        <div class="form-group">
            <select class="custom-select form-control" id="computerName" name="computerName" placeholder="Computer Id" required>
                {% for computer in computerArr %}
                    <option value={{computer}}>{{computer}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </script>
{% endblock %}