{% extends "layout.html" %}

{% block title %}
    Subtract License
{% endblock %}

{% block main %}
    <h6>Select a License to Remove from <strong><i>{{ compSelect }}</i></strong></h6>
    <form action="/subtractLicense" method="post">
        <div class="form-group">
            <select class="custom-select form-control" id="software" name="software" placeholder="Select Software" required>
                {% for software in softwareArr %}
                    <option value={{software}}>{{software}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </script>
{% endblock %}